<h1>Flexget</h1>
<p>This article will show you how to install Flexget and discusses basic configuration. Flexget can be used to fetch torrents from RSS feeds. It is an alternative to ruTorrent's RSS plugin which does not use the filesystem as a database (and thus does not suffer from ruTorrent's problems).</p>

<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="/wiki/slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installation</a>
                <ul>
                    <li><a href="#installation-notes">Installation notes</a></li>
                </ul>
            </li>
            <li><a href="#configure">Configuring Flexget</a>
              <ul>
                <li><a href="#configure-rtorrent">rTorrent</a></li>
                <li><a href="#configure-deluge">Deluge</a></li>
                <li><a href="#configure-transmission">Transmission</a></li>
              </ul>
            </li>
            <li><a href="#running">Running Flexget</a>
              <ul>
                <li><a href="#flexget-cron">Using Cron to execute the config</a></li>
              </ul>
            </li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installation</h2>
<p>To install Flexget, please first <a href="/wiki/software/pip">install pip</a> to a virtual environment first.</p>
<p>Once you've done that, copy and paste the following:</p>
<pre><kbd>~/pip/bin/pip install flexget
touch ~/config.yml</kbd></pre>

<h3 id="installation-notes">Installation notes</h3>
<p>The final command executed above will create an empty file called config.yml on your slot (at home level). This is done because creating via virtualenv does not automatically create a config.yml file. The command will not overwrite the contents of config.yml if it already exists.</p>

<h2 id="configure">Configuring Flexget</h2>
<p>The creation of custom configs to grab your feeds is not something staff can help with. The <a href="https://flexget.com/Configuration">Flexget website</a> has lots of resources and beginner guides to get you started.</p>
<p> The only configuration covered in this guide is passing to the various torrent clients supported at Feral. This is only needed if you wish to pass additional options to the client. Otherwise, it should be fine to simply specify the watch directory and let the client manage the torrent.</p>

<h3 id="configure-rtorrent">rTorrent</h3>
<p>Here is an example of a dummy guide using <var>variables</var> instead of actual values:</p>
<pre><samp>tasks:
  task1:
    rss: <var>feed_URL</var>
    series:
      - <var>series_name</var>
    rtorrent:
      uri: ~/private/rtorrent/.socket</samp></pre>

<h3 id="configure-deluge">Deluge</h3>
<p>Here is an example of a dummy guide using <var>variables</var> instead of actual values:</p>
<pre><samp>tasks:
  task1:
    rss: <var>feed_URL</var>
    series:
      - <var>series_name</var>
    deluge:
      port: deluge_port</samp></pre>
<p>Replace <var>deluge_port</var> in the above command with the result of the following command:</p>
<p><kbd>grep daemon_port ~/.config/deluge/core.conf</kbd></p>

<h3 id="configure-transmission">Transmission</h3>
<p>To use directly with transmission you first need to install and configure transmissionrpc. This is done by executing these commands:</p>
<pre><kbd>~/pip/bin/pip install transmissionrpc
sed -i "s|base_url + '/t|base_url + '/$(whoami)/t|g" ~/pip/lib/python2.7/site-packages/transmissionrpc/client.py</kbd></pre>

<p>Here is an example of a dummy guide using <var>variables</var> instead of actual values:</p>
<pre><samp>tasks:
  task1:
    rss: <var>feed_URL</var>
    series:
      - <var>series_name</var>
    transmission:
      host: <var>server</var>.feralhosting.com
      port: 80
      username: <var>username</var>
      password: <var>password</var></samp></pre>
<p>In addition to replacing <var>feed_URL</var> and <var>series_name</var> in the above, you also need to replace the following</p>
<dl>
    <dt><dfn>server</dfn></dt>
    <dd>Your server name (e.g. Brontes)</dd>
    <dt><dfn>username</dfn></dt>
    <dd>Your username</dd>
    <dt><dfn>password</dfn></dt>
    <dd>Your transmission access password</dd>
</dl>

<h2 id="running">Running Flexget</h2>
<p>You can run Flexget by copying and pasting:</p>
<p><kbd>~/pip/bin/flexget execute</kbd></p>
<p>Note that this will download data if properly configured and a match is found. If you don't want this to happen simply specify the <samp>--test</samp> option:</p>
<p><kbd>~/pip/bin/flexget --test execute</kbd></p>

<h3 id="flexget-cron">Using Cron to execute the config</h3>
<p>You can use the job scheduler Cron to instruct Flexget to run at regular intervals. To bring up the crontab editor use the command <kbd>crontab -e</kbd>.</p>
<p>If this is your very first time you'll be given a choice of editors. Nano is fine to use so unless you specifically want something else just press <kbd>Enter</kbd>.</p>
<p>There will already be some basic information on crontabs in the file - you can keep it if you like, or get rid of it if you prefer. The lines are commented out so are for information purposes only and don't affect any cron jobs added.</p>
<p>At a new line in the file copy-paste the following:</p>
<p><kbd>*/10 * * * * ~/pip/bin/flexget --cron execute</kbd></p>
<p>The example cron job above will run Flexget every 10 minutes. You can reduce that if you like but it's in your interest to respect the tracker rules on this. If you don't know what they prefer it's best to ask (Feral will not assist circumventing a tracker ban).</p>

<h2 id="troubleshooting">Troubleshooting</h2>
<dl>
    <dt>On executing Flexget I get a permission denied error on /tmp/safe-0.4.words.cache</dt>
    <dd>
        <p>Somebody else is using Flexget and writing there, so your instance will not be able to. You'll need to set the TMPDIR variable. You can export it each time or set it as an alias for ease of use. To set it in .bashrc execute these commands:</p>
        <pre><kbd>mkdir ~/tmp
echo "alias flexget='TMPDIR=$HOME/tmp ~/pip/bin/flexget'" >> ~/.bash_aliases
source ~/.bash_aliases</kbd></pre>
        <p>You can then just use <samp>flexget</samp> from anywhere on your slot to run it (options such as --test will still work with the alias).</p>
    </dd>
</dl>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>
<pre><code>~/pip/bin/pip uninstall flexget
rm ~/config.yml</code></pre>
<p>You might also wish to remove the line from the crontab if you created it previously.</p>