<h1>Payment Problems and Late Payments</h1>
<p>This page will go through all things payment-related and doesn't rely on any assumed knowledge or skills.</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#general-information">General information</a></li>
            <li><a href="#making-payment">Making payment</a>
                <ul>
                    <li><a href="#paying-card">Credit / Debit card</a></li>
                    <li><a href="#paying-bitcoin">Bitcoin</a></li>
                </ul>
            </li>
            <li><a href="#checking-payments">Checking payments made</a></li>
            <li><a href="#late-payments">Late payments</a></li>
        </ol>
    </nav>
</details> 

<h2 id="general-information">General information</h2>
<p>Payment should be made in good time ahead of the payment deadline. If a valid payment is not received and your slot goes into suspension your data will be kept for three days. After this time your data will be removed and staff will not be able to restore it as a backup of data is not kept. The slot and its data will get deleted and the space made available for another user.</p>

<h2 id="making-payment">Making payment</h2>
<p>On trying to purchase a slot, or clicking the <samp>Renew slot</samp> or <samp>Change / Upgrade slot</samp> links, you'll be asked to choose the payment method you wish to use. Feral currently supports two payment methods - credit / debit card or bitcoin. There are no other ways to make payment.</p>

<h3 id="paying-card">Credit / Debit card</h3>
<p>You'll be required to put in the card's details. Feral does not see or store your details - these are handled by our payment processor (Stripe). If your card supports 3D Secure you'll be redirected to your bank during the process to completely the necessary security steps.</p>

<h4>Card details</h4>
<p>As above, Feral does not see or store actual card details. Instead, Feral stores a token referring to details which are stored at our payment processor. This token is useless to anyone else. You are given the choice to save details for later when paying by card.</p>
<p>To remove a saved card, go to <a href="https://www.feralhosting.com/account/accounting#saved"> your saved cards page</a> , select your card, then click on <samp>Remove Selected</samp>. You can then enter the new card details when it's time to renew the slot.</p>

<h4>Card payment problems</h4>
<p>It is an unfortunate fact that for some customers payments do not complete successfully. Whilst rare, there might be a number of causes including but not limited to these reasons:</p>
<ul>
    <li>You were paying behind a proxy or VPN</li>
    <li>Your bank reported that one of the following did not match their records:
        <ul>
            <li>Your address</li>
            <li>Your postal code</li>
            <li>Your CVC (the three or four digits on the reverse of the card)</li>
        </ul>
    </li>
    <li>Your card has expired;</li>
    <li>Your bank declined the payment.
        <ul>
            <li>You may have to allow for international payments to be processed with your credit card provider</li>
            <li>Your credit provider may have checks in place to protect you against irregular transactions</li>
        </ul>
    </li>
</ul>
<p>These are factors which are outside of Feral's control and we must wait until the transaction clears and payment is received before the slot can be created.</p>
<p>Often when a payment is unsuccessful a notice will inform you during the payment process. If for example you're notified that your bank has declined the payment you will need to contact them for further information as staff will not have any more information for you. Sometimes staff will not be able to divulge the reason why a payment failed to avoid potential abuse. You should always open a ticket if you have questions about a payment in any case.</p>

<h3 id="paying-bitcoin">Bitcoin</h3>
<p>If you choose to pay via bitcoin you'll be provided with the address to send payment to. You'll also need to confirm awareness and consent to the fact that Feral will be unable to provide a refund. Instead, the payment can be used against a future renewal.</p>

<h2 id="checking-payments">Checking payments made</h2>
<p>You can check if a payment was successfully received by going to <a href="https://www.feralhosting.com/account/accounting#recent">your recent payments</a> page. If the <samp>Received</samp> column is 0, Feral has not received your payment. Each payment has a link which will describe any error messages. You can open a ticket if there are any outstanding issues or questions.</p>

<h2 id="late-payments">Late payments</h2>
<p>If you think you might be late to make a payment please open a ticket and let staff know as soon as you can. Whilst they cannot always keep slots open for as long as you need they will generally hold slots open for a few days and there's not going to be any extra harm caused by asking.</p>
<p>It's always best to do this as soon as you can. If staff hold open the slot you'll still be able to use it as normal so if you can let them know before payment is due you wouldn't even see an interruption in service. Conversely, whilst they try to answer tickets as soon as possible, doing it as soon as possible prevents the ticket being addressed too late. From any standpoint it's in your interest to let them know quickly!</p>
<p>If payment is only going to be delayed by a couple of days it's not really necessary to give a reason. If the delay is more serious it's a good idea to provide a reason - not only is a more open and constructive approach always more likely to be successful, but staff might also be able to be more helpful if they know the situation. Please be assured that any reasons would be kept private and confidential.</p>