<h1>Plex WebTools</h1>
<p>Plex WebTools is a collection of utilities to help with the management of your Plex Media Server.</p>

<h2 id="installation">Installation</h2>
<p>To install Plex WebTools, log in <a href="/wiki/slots/ssh">via SSH</a> then copy and paste the following commands:</p>
<pre><kbd>wget -q https://github.com/ukdtom/WebTools.bundle/releases/download/3.0.0/WebTools.bundle.zip
unzip -q WebTools.bundle.zip -d ~/private/plex/storage/config/Library/Application\ Support/Plex\ Media\ Server/Plug-ins
rm WebTools.bundle.zip
rm ~/private/plex/delete-this-file-to-restart-plex</kbd></pre>
<p>After a minute Plex will restart and activate the plugin.</p>

<h2 id="accessing">Accessing Plex WebTools</h2>
<p>WebTools runs on port 33400 on a private IP that can be accessed by connecting <a href="/wiki/software/openvpn">via OpenVPN</a>. Run the following command to find the private IP:</p>
<pre><kbd>grep ip-address ~/private/plex/detailed-status</kbd></pre>
<p>You should see a response similar to: <samp>ip-address=<var>10.x.y.10</var></samp> (where x and y are numbers specific to your slot). You can then connect via OpenVPN and visit <kbd>http://<var>10.x.y.10</var>:33400/</kbd> (where <var>x</var> and <var>y</var> were found from the earlier command).</p>
