<h1>Changing Passwords</h1>
<p>This guide explains how you can change various passwords for logging into the Feral website and for services run on Feral slots</p>
<p>For certain pieces of software it assumes that you can <a href="ssh">access your slot via SSH</a> </p>
<p>One thing to note when changing passwords via SSH is that the password entry will <em>not</em> appear to respond to your input - it will not display <samp>*****</samp> or something similar as you type.</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#feral-pass">Feral web manager</a></li>
            <li><a href="#ssh-sftp-ftp">SSH / SFTP / FTP</a></li>
            <li><a href="#rutorrent">ruTorrent</a></li>
            <li><a href="#deluge">Deluge</a>
                <ul>
                    <li><a href="#deluge-easy">The easy way</a></li>
                    <li><a href="#deluge-harder">The hard(er) way</a></li>
                </ul>
            </li>
            <li><a href="#transmission">Transmission</a></li>
        </ol>
    </nav>
</details> 

<h2 id="feral-pass">Feral web manager</h2>
<p>To change this password, please visit the <a href="https://www.feralhosting.com/login/recover/">Feral account recovery</a> page and choose the option to recover your account via e-mail. Put the e-mail associated with your account in the box and you will be sent a link to set a new web manager password.</p>

<h2 id="ssh-sftp-ftp">SSH / SFTP / FTP</h2>
<p>These three services share the same password and to change it you'll actually need access to your slot via SSH. Once logged in simply run the command <kbd>passwd</kbd>. You will be asked to enter your current password, your new password and a confirmation of that new password. </p>
<p>As you might imagine, the requirement to change password via SSH doesn't help if you want the password changed or reset because you've forgotten it. Please contact staff by <a href="../getting-started/tickets">opening a ticket</a> and let them know the situation.</p>

<h2 id="rutorrent">ruTorrent</h2>
<p>User authentication for ruTorrent is handled by means of an <i>.htpasswd</i> file, so if you wish to change the password you will need to login via SSH.</p>
<p>Then run the command:
<p><kbd>htpasswd -m ~/www/$(whoami).$(hostname -f)/public_html/rutorrent/.htpasswd $(whoami)</kbd></p>
<p>You'll then be prompted to enter a new password and confirm it. Please note that this assumes you want to change the password for your Feral username. You'll need to replace <kbd>$(whoami)</kbd> with an actual username if it was different to your Feral username.</p>

<h2 id="deluge">Deluge</h2>

<h3 id="deluge-easy">The easy way</h3>
<p>By far the easiest way to change the Deluge web UI password is to log in to the web UI, click on <kbd>Preferences</kbd> and select the <kbd>Interface</kbd> section. You will need to specify your old password, enter your new password and confirm it by entering it again.</p>

<h3 id="deluge-harder">The hard(er) way</h3>
<p>If you do not have access to the Deluge web UI things are a little more complex. You can run the commands below to reset the password to Deluge's default or simply reinstall to get a randomised password.</p>
<p>The following will reset the Deluge web UI's password to <samp>deluge</samp>:</p>
<pre><kbd>cp ~/.config/deluge/web.conf ~/.config/deluge/web.conf-$(date -I)
pkill -9 -fu "$(whoami)" 'deluge-web' 
sed -i 's|"pwd_sha1": ".*",|"pwd_sha1": "bc28bfa49a73fd2384cbecd6572ea72d0166aa28",|g' ~/.config/deluge/web.conf
sed -i 's|"pwd_salt": ".*",|"pwd_salt": "",|g' ~/.config/deluge/web.conf</kbd></pre>
<p>At this point, you'll need to wait until the system restarts your Deluge web UI (the process name is <samp>deluge-web</samp>). The system will scan the users on the server every 5 minutes and start up any processes which should be running but are not, like your deluge web UI. Once restarted, the password should be reset and you can access the web UI to set your intended password, as above.</p>

<h2 id="transmission">Transmission</h2>
<p>Log in to your slot via SSH and run the following commands. Since Transmission writes to its config on closing, you'll need to make the changes whilst the Transmission daemon is not running. These commands will stop Transmission and prevent it from being restarted whilst you make your changes:</p>
<pre><kbd>pkill -fu "$(whoami)" 'transmission-daemon'
touch ~/private/transmission/.prevent-restart</kbd></pre>
<p>To change the password run the following command after changing the variable - <var>password</var> should be replaced with the password of your choice:</p>
<p><kbd>sed -i 's|"rpc-password": ".*",|"rpc-password": "<var>password</var>",|g' ~/.config/transmission-daemon/settings.json</kbd></p>
<p>You can then remove the <i>.prevent-restart</i> with:
<p><kbd>rm ~/private/transmission/.prevent-restart</kbd></p>
<p>It might take up to 5 minutes for Transmission to be restarted by the system - users cannot restart it manually sooner than this.</p>