<h1>Generic Installation Guide</h1>
<aside class="alert note">Please use common sense when installing custom software and have consideration for other users on your server. If in doubt, <a href="../getting-started/tickets">ask staff!</a></aside>
<p>This guide will take you through general approaches to installing software. Many of these methods will help you out if there isn't currently a dedicated guide as part of Feral's wiki.</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#restrictions">Restrictions</a></li>
            <li><a href="#locations">Installed software locations</a>
                <ul>
                    <li><a href="#path">PATH</a></li>
                </ul>
            </li>
            <li><a href="#installation">Installation methods</a>
                <ul>
                    <li><a href="#wget">Using wget</a></li>
                    <li><a href="#binaries">Installing pre-compiled binaries</a></li>
                    <li><a href="#source">Installing by compiling from source</a></li>
                    <li><a href="#debs">Installing by extracting Debian packages</a></li>
                </ul>
            </li>
        </ol>
    </nav>
</details> 

<h2 id="restrictions">Restrictions</h2>
<p>Users do not have root access and will not be able to run <kbd>apt-get</kbd>, <kbd>su</kbd> or <kbd>sudo</kbd>. Whilst many software guides (outside of Feral) may instruct you to use <kbd>sudo</kbd>, this is generally only to allow you to install to a protected directory such as <samp>/usr/bin/</samp>. On your slot, you can simply install things relative to <samp>$HOME</samp> which does not require any special permissions.</p>

<h2 id="locations">Installed software locations</h2>
<p>All user installed programs are installed relative to a single location, the user's home, which is also known as <samp>$HOME</samp>. As this is the "start point" for user slots, the conventional directory structure of a Unix-type platform can be mimicked. In other words, the user can have directories such as <samp>bin</samp> and <samp>opt</samp>.</p>

<h3 id="path">PATH</h3>
<p>The <samp>PATH</samp> is a way of telling the system where it should look to run the software. This can more easily be illustrated with an example - in the example below, we're trying to call the software <a href="rclone">rclone</a> from our main user folder, whilst connected via SSH:</p>
<pre><samp>[server ~] rclone config
bash: rclone: command not found
[server ~] echo "PATH=~/bin:$PATH" > ~/.bashrc
[server ~] source ~/.bashrc
[server ~] rclone config
Current remotes:

...</samp></pre>
<p>In the above we can see the following:</p>
<ul>
	<li>We tried to call rclone from somewhere but got an error</li>
	<li>Already knowing that the rclone binary was installed to ~/bin we added that location to PATH (<kbd>echo "PATH=~/bin:$PATH" > ~/.bashrc</kbd>)</li>
	<li>We then made sure those changes were loaded (<kbd>source ~/.bashrc)</kbd></li>
</ul>
<p>You can of course add other locations if you wish to, though <samp>~/bin</samp> is a common one.</p>

<h2 id="installation">Installation methods</h2>

<p>There are several ways to install software on your slot - you can download a binary, compile it from source, clone the repo using git amongst others. All of the methods involve getting something onto your slot in some way. With the exception of Git (which has its own commands - see <a href="git">Installing via Git</a>) the easiest way to do this is to use <samp>wget</samp>.</p>

<h3 id="wget">Using wget</h3>
<p>A standard command to get the binary or source onto your slot will look like this:</p>
<p><kbd>wget -qO ~/software.tar.gz https://somesite.com/software.tar.gz</kbd></p>
<p>We can break down this command as follows:</p>
<dl>
	<dt>wget</dt>
	<dd>The tool we're using to go get the binary or archive</dd>
	<dt>-q</dt>
	<dd>Turn off wget's output. You won't see what it's doing - consider not using <samp>q</samp> if you're getting errors</dd>
	<dt>-O ~/software.tar.gz</dt>
	<dd>Saves the file as the given filename</dd>
	<dt>https://somesite.com/software.tar.gz</dt>
	<dd>The place we're getting the binary or archive from</dd>
</dl>
<p>The <samp>wget</samp> tool will be used frequently when installing custom software and is used (without further explanation) on many of the guides linked to below.</p>

<h3 id="binaries">Installing pre-compiled binaries</h3>
<p>There is a separate page for <a href="install-binary">installing pre-compiled binaries</a>.</p>

<h3 id="source">Installing by compiling from source</h3>
<p>There is a separate page for <a href="install-source">compiling software from source</a>.</p>

<h3 id="debs">Installing by extracting Debian packages</h3>
<p>There is a separate page for <a href="install-deb">extracting Debian packages</a>.</p>