<h1>Installing pre-compiled binaries</h1>
<p>This guide which teach you how to install custom software which has already been compiled into binary (i.e. an executable) form. It assumes you can run commands via SSH. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<p>You should also consider reading the <a href="generic-install-guide">general information on installing custom software</a> as background to this, though you might find it isn't necessary to install your desired piece of software.</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#prereq">Pre-requisites</a></li>
    		<li><a href="#get-bin">Getting the binary</a></li>
        </ol>
    </nav>
</details> 

<h2 id="prereq">Pre-requisites</h2>
<p>The first thing to do is to create the <samp>~/bin</samp> directory and reload the relevant files for the <samp>PATH</samp> setting to take effect using this command:</p>
<p><kbd>mkdir -p ~/bin &amp;&amp; bash</kbd></p>
<p>If the directory already exists you will not delete its contents by recreating it using the command above, so there's no need to worry about that.</p>

<h2 id="get-bin">Getting the binary</h2>
<p>The most obvious thing you need to then do is actually get the software on your slot in a usable form. In the example below we're downloading a binary which is packaged as a <samp>tar</samp> archive. This is fairly common, but you might need to tweak things if you get errors.</p>
<pre><kbd>wget -qO ~/software.tar.xz https://somesite.com/software-version.tar.xz
tar xf ~/software.tar.xz  --strip-components=1 -C ~/</kbd></pre>

<p>The first command gets the <samp>.tar.xz</samp> archive on to your slot. The second will extract it and move the resulting directory's contents to home level (<samp>~/</samp>). At this point the binary should be usable - you'll need to refer to its documentation for usage information.</p>