<h1>HTTP</h1>
<p>This is the main page for all things HTTP - that is to say, for using the slot via your browser. You can host webpages, use web-based software and download data from Feral to your device via the web. The page itself functions mainly as a starting point, giving basic information and then links through to more detailed, specific guides.</p>
<p>Each user gets a <samp>public_html</samp> directory at the bottom of their <samp>www</samp> directory. Anything in <samp>public_html</samp> will be served to the world.</p>

<h2>Downloading data from torrent clients</h2>
<p>Sometimes SFTP does not provide the speeds you want, or perhaps your favourite software only supports downloading via HTTP. Whatever the reason, if you wish to download torrent data this way, there is a separate guide to <a href="www/dl-via-http">downloading torrent data through your browser</a>.</p>

<h2>Password protecting</h2>
<p>By default anything in it will be publicly-visible and accessible. You can prevent this by <a href="www/password-protect">password protecting</a> the directories.</p>